# --- PROJECT SPECIFIC ---
config.h 
build/
/RadarDisplay_V3_1/build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# --- ESP32 & ARDUINO SPECIFIC ---
# Catch raw firmware files exported to the root directory
*.bin
*.elf
*.hex
*.map

# --- OS GENERATED TRASH ---
# Mac hidden folder settings
.DS_Store
# Windows thumbnail caches
Thumbs.db